<!-- footer section -->
<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2025 Crypto Portfolio Tracker | Assignment 3 - INFR3120</p>
        <p>Created by Dawood Khalid</p>
    </div>
</footer>

<!-- main script -->
<script src="/script/app.js"></script>

</body>

</html>